@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.card {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  height: 100vh;
  padding: 1rem;
  max-width: 50%;
  margin: 1rem;
}

.img {
  width: 50%;
  height: auto;
  padding: 1rem;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.card-text{
  display: flex;
  flex-direction:column;
}

.card-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipe-info{
  margin-left: 1.5rem;
}

.recipe-title, 
.list-title{
  font-family:  var(--ff-acme);
  font-weight: 400;

}

.recipe-title{
  margin: 1rem;
  font-size: 2.5rem;
  border-bottom: 0.25rem solid var(--c-blue);

}

.list-title{
  margin: 0.5rem 0;
  font-size: 1.625rem;
  color: var(--c-blue);

}

.ingredients-list ul{
  list-style-type: none;
  padding-left: 0;
}

.ingredients-list ul{
  list-style-type: none;
  padding-left: 0;
}

.list-item{
  display:flex;
  margin-bottom: 0.75rem;

  & span{
    display:block;
  }

  & .measure{
    width: 25%;
    margin-right: 2rem;
  }
}

.instructions-list{
  width: 50%;

  &ol{
    padding-left: 1.25rem;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.app-header {
  background-color: var(--c-blue);
  color: black;
  font-size: 40px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.rating-button {
  width: 40px;
  height: 40px;
  font-size: 18px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-blue);
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}